# setting load path
$LOAD_PATH << File.join(File.dirname(__FILE__), "..", "app", "model")
$LOAD_PATH << File.join(File.dirname(__FILE__), ".")

# loading required gems
require 'rubygems'
require 'bundler/setup'
Bundler.require(:default)

# setting database connection
require 'db_config'
ActiveRecord::Base.establish_connection(
  DbConfig.config
)

# requiring protobuf files
require './lib/protos/<%= name.underscore %>_services_pb'
