# frozen_string_literal: true

class DbConfig
  def self.config
    {
      adapter: 'sqlite3',
      host: 'localhost',
      database: 'db/devt.sqlite3',
      pool: 5,
      timeout: 5000,
    }
  end
end

