require './config/application'

class <%= name.camelcase %>Service < <%= name.camelcase %>::<%= name.camelcase %>Service::Service
	def hello(request, _unused_call)
    <%= name.camelcase %>::HelloResponse.new(
      body: "Hello #{request.name}"
    )
  end
end
